/* 文字折り返し設定 */
body {
  word-wrap: break-word;
}
/* ヘッダー */
header {
  height: 250px;

  background-color: #03243d;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 10px; /* ヘッダーの余白 */
  z-index: 1000; /* ヘッダーが他の要素の上に表示されるようにz-indexを設定 */
}

/* ヘッダーの文字の大きさ */
#title {
  font-size: 40px;
}
/* メイン */
h2 {
  font-size: 23px;
}
.wrapper {
  max-width: 1200px;
  /* 中央寄せにする */
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}
main {
  padding: 10px;
  background-color: #000055;
  text-align: center;
  color: white;
}
p {
  font-size: 18px;
  padding: 10px;
}
.purple {
  background-color: #9370db;
}
body {
  background-color: #03243d;
}
/* 画像を2列に並べる
  #box {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
  }
  画像と文字の間隔を埋める
  #box img {
    vertical-align: bottom;
  }
  #license {
    margin-bottom: 80px;
  }
  
 */
.hr {
  border-bottom: 1px solid #848484;
}
footer {
  text-align: center;
  color: #848484;
  margin-bottom: 10px;
  padding-top: 10px;
}
.button-bottom {
  margin-right: 10px;
  width: 150px;
  height: 80px;
}
.button-shiryou {
  border-radius: 40px;
  width: 400px;
  height: 70px;
}
/*この上にCSS書くこと*/
@media (max-width: 600px) {
 
}

